{% extends "base.html" %} {% block title %} Produkt löschen {% endblock title %} {% block content %}

<form method="post">

    {% csrf_token %}

    <fieldset class="form-group">
        <div style="color:#12e7a0; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Produkt löschen</div> <br>
        <h2>Bist du dir sicher '"{{ object.name }}"' zu löschen?</h2>
    </fieldset>

    <div class="form-group">
        <button type="submit" class="btn ghost-red">Ja</button>
        <a href="{% url 'inventory' %}" class="btn ghost-button">Abbrechen</a>
    </div>

</form>

{% endblock content %}